---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
}

const { title, description, ogImage, canonicalURL } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  ogImage={ogImage}
  canonicalURL={canonicalURL}
>
  <article class="py-8">
    <div class="prose prose-lg dark:prose-invert max-w-none">
      <slot />
    </div>
  </article>
</BaseLayout>

